            p {
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: purple;
            }

            .whitetext {
                color: white;
            }

            .redtext {
                color: red;
            }

            #id1 {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            #id2 {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-style: italic;
            }

            #id3 {
                font-weight: 500; }